
body{
    background-color: #fff;
    transition: all 0.5s ease-out;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
    
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
 
  .home-header{
    margin-left: 25%;
    margin-right: 25%;

    border-color: #030303;
    font-size: medium;
    color: #030303;
    font-weight: 250;
    border-left: solid;
    padding: 0%;
    border-right:solid ; 
  }
  
  .home-title{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20%;
   
    border-color: #633;
    font-size: medium;
    color: #030303;
  }
  .home-title h2{
    text-align: center;
  }

  .home-body{
    margin-left: 30%;
    margin-right: 30%;
    
    border-color: #633;
    font-size: medium;
    color: #030303;
    font-weight: 250;
   
    border-left: solid #6333;
    padding: 0%;
    border-bottom: solid #6333;
    border-right:solid #6333 ; 
  }
  
  .home-body li a{
 
    border-color: #030303;
    font-size: medium;
    
    color: #677;
    font-weight: 400;
    
    
  }
  .home-body a:hover{
    margin-left: 2%;
    margin-right: 2%;
    color: #030303;
    font-size: medium;
    
    font-weight: 400;
    
    
  }
  
  